body{
    background-color: rgb(179, 231, 164);
    text-align: center;
}
h1{
    font-size: xx-large;
    font-style: italic;
    color: #ece02f;
}
h2{
    font-size: medium;
    font-style: italic;
    color: #e4e716e0;
}
h3{
    color: #1410dfe0;
}
.bolsonaro{
    width: 20%;
}